{:deps {yada                        {:mvn/version "1.2.13"}
        org.clojure/test.check      {:mvn/version "0.9.0"}
        org.clojure/tools.nrepl     {:mvn/version "0.2.12"}
        org.clojure/java.jdbc       {:mvn/version "0.7.7"}
        org.xerial/sqlite-jdbc      {:mvn/version "3.23.1"}
        honeysql                    {:mvn/version "0.9.3"}
        com.bhauman/rebel-readline  {:mvn/version "0.1.4"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}}}
