{:description "",
 :category :character,
 :health-levels [1 2 2 1],
 :essence-peripheral 30,
 :limit-trigger "",
 :additional-abilities [[:craft 0 ""][:martial-arts 0 ""]],
 :supernal :awareness,
 :rulebooks ["core"],
 :essence-rating 1,
 :anima "",
 :name "Blank Solar",
 :willpower-maximum 10,
 :subcategory :eclipse,
 :damage-aggravated 0,
 :abilities {:lore 0,
             :melee 0,
             :investigation 0,
             :dodge 0,
             :presence 0,
             :performance 0,
             :linguistics 0,
             :war 0,
             :socialize 0,
             :survival 0,
             :bureaucracy 0,
             :occult 0,
             :resistance 0,
             :brawl 0,
             :ride 0,
             :athletics 0,
             :thrown 0,
             :archery 0,
             :integrity 0,
             :awareness 0,
             :larceny 0,
             :sail 0,
             :medicine 0,
             :stealth 0},
 :committed-personal 1,
 :charms [],
 :id "0",
 :willpower-temporary 1,
 :damage-bashing 0,
 :limit-accrued 0,
 :intimacies [[:defining :principle "" "a"]
              [:major :principle "" "a"]
              [:major :tie "" "a"]
              [:minor :principle "" "a"]
              [:minor :principle "" "a"]],
 :favored-abilities #{:investigation
                      :dodge
                      :presence
                      :socialize
                      :martial-arts
                      :ride
                      :integrity
                      :sail
                      :medicine
                      :stealth},
 :attributes {:charisma 1,
              :perception 1,
              :intelligence 1,
              :stamina 1,
              :strength 1,
              :dexterity 1,
              :wits 1,
              :appearance 1,
              :manipulation 1},
 :owner "",
 :committed-peripheral 0,
 :essence-personal 15,
 :damage-lethal 0}