(def my-resource
  (resource
   {:id :example
    :description "The description to this example resource"
    :summary "An example resource"
    :access-control …
    :properties …
    :parameters {:query … :path … :header …}
    :produces …
    :consumes …
    :methods {:get … :put … :post … :delete … :patch …}
    :responses {…}
    :path-info? false
    :sub-resource …
    :logger …
    :interceptor-chain …
    :error-interceptor-chain …
    :custom/other …}))